.container {
  max-width: 1380px;
  padding: 50px;
  height: 460px;
}

.add_form {
  margin: 0 auto;
  max-width: 500px;
  min-height: 205px;
  background: #ff6e7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bfe9ff,
    #ff6e7f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 30px;
  flex-direction: column;
}

.input {
  font-size: 30px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.button_add {
  max-width: 100px;
  margin-top: 10px;
  font-size: 30px;
}
