.navbar_container_main{
    max-width: 1380px;
    min-height: 60px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar_content a{
    color: white;
    font-size: 30px;
    margin-left: 30px;
}
.header{
    color: white;
    padding-left: 10px;
    display: flex;
}

.hamburger{
    display: none;
    width: 40px;
    height: 40px;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1345px;
    width: 100%;
    min-height: 100px;
   
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
.menu a{
    color: white;
    font-size: 30px;
}

@media screen and (max-width:900px) {
    .navbar_content{
        display: none;
    }
    .hamburger{
        display: flex;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
  
}
